/* common css start */
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Roboto Mono", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  border: none;
  border-radius: 1rem;
  padding: 5px 10px;
  box-shadow: 0px 0px 10px 0px #b8b8b8;
  border: 1px solid #dbdbdb;
  width: fit-content;
}
button:active {
  box-shadow: none;
}

.container {
  width: 40rem;
  margin: 50px auto;
}
/* end of common css */

/* profile card css start */
.profile-card {
  height: auto;
  border: 0.5rem solid #2d2d2d;
  border-radius: 0.2rem;
  color: #252525;
}

.card-image {
  width: 100%;
  height: auto;
}
.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body {
  padding: 40px;
}

.card-body h1 {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
}
.card-body p {
  font-size: 20px;
}
.card-body .skill {
  width: fit-content;
  padding: 3px 20px;
  border-radius: 0.4rem;
}
.card-body .skill span {
  font-weight: 600;
}
.card-body .skillList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  padding-top: 20px;
}
/* profile card css end */

/* data counter css start */
.date_counter {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.date_counter .step,
.date_counter .counter {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

/* data counter css end */

/* accordion css start */
.accordion {
  width: 700px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  padding: 20px 24px;
  padding-right: 48px;
  cursor: pointer;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;

  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  align-items: center;
}

.number {
  font-size: 24px;
  font-weight: 500;
  color: #ced4da;
}

.title,
.icon {
  font-size: 24px;
  font-weight: 500;
}

.content-box {
  grid-column: 2 / -1;
  padding-bottom: 16px;
  line-height: 1.6;
}

.content-box ul {
  color: #868e96;
  margin-left: 16px;
  margin-top: 16px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* OPEN STATE */
.open {
  border-top: 4px solid #087f5b;
}

.open .number,
.open .title {
  color: #087f5b;
}

/* accordion css end  */

/* flashcard css start  */
.flashcards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.flashcards div {
  border: 1px solid #e7e7e7;
  background-color: #f7f7f7;
  border-radius: 7px;
  aspect-ratio: 2 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  cursor: pointer;
}

div.selected {
  border: 1px solid #e03131;
  background-color: #e03131;
  color: #fff;
  font-weight: bold;
}

/* flashcard css end  */


/* show hide css */
.box {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  background-color: #f7f7f7;
}
.mb-5{
  margin-bottom: 50px;
}
.m-5{
  margin: 50px;
}
